@import "_config.scss";

.bgContact {
    background: url("../../contact_us.svg");
    background-color: rgba(76, 203, 238, 0.3);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    padding-top: 5vh;
    margin: 2vh 0 0;

    @media (min-width: $breakpoint-tablet) {
        padding: 22vh 10vh 10vh 10vh;
        height: 100vh;
        margin-top: 2vh;
    }
    .contactContent {
        background-color: rgba(255, 255, 255, 0.9);
        width: 90%;
        min-height: 70vh;
        font-size: $customH1;
        text-shadow: 0 0 4px grey;
        color: darkblue;
        margin-top: 1vh ;
        padding: 1vh 2vh 1vh;
        text-align: center;
        @media (min-width: $breakpoint-tablet) {
            padding: 2vh 5vh 5vh ;
        }

        .contactIntro {
            text-align: center;
            padding-right: 15vw;
            padding-left: 15vw;
        }
        .contactQuote {
            height: 20vh;
            width: 75%;
            display: block;
            margin-top: 5vh;
            font-size: $customText;
            text-align: center;
            text-shadow: 0 0 0 grey;

            @media (min-width: $breakpoint-tablet) {
                height: 50vh;
            }

            .border {
                width: 100px;
                height: 10px;
                background: #34495e;
                margin: 40px auto;
            }

            .contact-form {
                max-width: 600px;
                margin: auto;
                padding: 0 10px;
                overflow: hidden;
            }

            .contact-form-text {
                display: block;
                width: 100%;
                height: 20px;
                box-sizing: border-box;
                margin: 16px 0;
                border: 0;
                background: #111;
                padding: 20px 40px;
                outline: none;
                color: #ddd;
                transition: 0.5s;
            }
            .contact-form-text:focus {
                box-shadow: 0 0 10px 4px #34495e;
            }
            textarea.contact-form-text {
                resize: none;
                height: 40px;
            }
            .contact-form-btn {
                border: 0;
                background: #34495e;
                color: #fff;
                padding: 12px 50px;
                border-radius: 20px;
                cursor: pointer;
                transition: 0.5s;
            }
            .contact-form-btn:hover {
                background: #2980b9;
            }
        }
    }
}
