@import "_config.scss";

.bgContact {
    background-image: url("../../home_background.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 15vh;
    width: 100%;
    min-height: 100vh;
    @media (min-width: $breakpoint-tablet) {
      padding-top: 22vh;
      
    }
    .contactContent {
        vertical-align: bottom;
        width: 100%;
        min-height: 85vh;
        font-size: $customH1;
    
        @media (min-width: $breakpoint-tablet) {
            height: 70vh;
        }
        text-shadow: 0 0 4px grey;
    
        .contactIntro {
            text-align: center;
            padding-right: 15vw;
            padding-left: 15vw;
        }
        .contactQuote {
            padding: 0;
            height: 20vh;
            width: 75%;
            display: flex;
            margin-top: 5vh;
            font-style: italic;
            font-size: $customText;
            align-items: center;
            text-shadow: 0 0 0 grey;
    
            @media (min-width: $breakpoint-tablet) {
                height: 50vh;
            }
    
            img {
                max-width: 60%;
                height: auto;
            }
        }
    }
    
}

