@import "_config.scss";


.bgHome {
  background-image: url("../../home_background.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 15vh;
  border-bottom: 5px solid white;
  box-shadow:  0 5px 0 darkblue;
  width: 100%;
  height: 100vh;
  @media (min-width: $breakpoint-tablet) {
    padding-top: 22vh;
    height: 100%;
  }
}

.homeContent {
  vertical-align: bottom;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: $customH1;

  text-shadow: 0 0 4px grey;

  .homeIntro{
    text-align: center;
    padding-right: 15vw;
    padding-left: 15vw;

  }
  .homeQuote {
    padding: 0;
    height: 100%;
    width: 75%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 2vh;
    font-style: italic;
    font-size: $customText;
    text-shadow: 0 0 0 grey;
   
    
    @media (min-width: $breakpoint-tablet) { 
      width: 50%;
      padding-top: 2vh;
      align-items: center;
    }

    img {
      max-width: 70%;
      height: 100px;

      @media (min-width: $breakpoint-tablet) { 
        max-width: 60%;
        height: 400px;
      }
    }
  }

}
